
      
      @import "background.css";

      body {
        margin: 10px, 30px;
        padding: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .parent {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 7.5vw);
        grid-template-rows: repeat(4, 7vw);
      }

      .parent > div {
        padding: 10px;
        background-color: #49e77e;
        border-radius: 0.3vw;
        display: grid;
        place-items: center;
        font-family: sans-serif;
        font-size: 4vw;
        font-weight: bold;
      }

      .parent > div > img {
        width: 4.5vw;
        display: none;
      }

      .message-Container {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.237);
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .message {
        color: coral;
        width: 20vw;
        height: 35vh;
        background-color: black;
        font-size: 3vw;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        flex-direction: column;
      }
      .btns > span {
        color: white;
      }
      .stars > span {
        clip-path: polygon(
          50% 0%,
          61% 35%,
          98% 35%,
          68% 57%,
          79% 91%,
          50% 70%,
          21% 91%,
          32% 57%,
          2% 35%,
          39% 35%
        );
        width: 40px;
        height: 40px;
        display: inline-block;
      }
      .stars > .fill {
        background-color: yellow;
      }
      .stars > .nofill {
        background-color: rgb(98, 98, 90);
      }
      #wonmessage,
      #dangermessage {
        display: none;
      }

